.NAVBAR {
  -webkit-backdrop-filter: blur(100px) brightness(100%);
  backdrop-filter: blur(100px) brightness(100%);
  background-color: #ffffff01;
  height: 144px;
  width: 1280px;
}

.NAVBAR .overlap {
  -webkit-backdrop-filter: blur(7px) brightness(100%);
  backdrop-filter: blur(7px) brightness(100%);
  height: 144px;
  position: relative;
}

.NAVBAR .RESILY-LOG-BTN-NAV {
  height: 92px;
  left: 567px;
  position: absolute;
  top: 31px;
  width: 146px;
}

.NAVBAR .element {
  height: 146px;
  left: 27px;
  overflow: hidden;
  position: relative;
  top: -27px;
  transform: rotate(90deg);
  width: 92px;
}

.NAVBAR .overlap-group {
  height: 136px;
  position: relative;
  top: 4px;
  width: 98px;
}

.NAVBAR .group {
  height: 59px;
  left: -33px;
  position: absolute;
  top: 39px;
  transform: rotate(-90deg);
  width: 126px;
}

.NAVBAR .text-wrapper {
  color: #eeeeee;
  font-family: "Westmount-Regular", Helvetica;
  font-size: 37px;
  font-weight: 400;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  transform: rotate(-90deg);
  width: 136px;
}

.NAVBAR .div {
  color: #ffffff;
  font-family: "Westmount-ExtraLight", Helvetica;
  font-size: 30px;
  font-weight: 200;
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 63px;
  width: 96px;
}

.NAVBAR .text-wrapper-2 {
  color: #ffffff;
  font-family: "Westmount-ExtraLight", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 802px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 70px;
  width: 143px;
}

.NAVBAR .text-wrapper-3 {
  color: #ffffff;
  font-family: "Westmount-ExtraLight", Helvetica;
  font-size: 20px;
  font-weight: 200;
  left: 299px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 70px;
  width: 186px;
}

.NAVBAR .group-2 {
  height: 39px;
  left: 1007px;
  position: absolute;
  top: 71px;
  width: 127px;
}

.NAVBAR .text-wrapper-4 {
  color: #ffffff;
  font-family: "Westmount-Light", Helvetica;
  font-size: 30px;
  font-weight: 300;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  width: 98px;
}

.NAVBAR .arrow-wrapper {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 11px;
  height: 22px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 22px;
}

.NAVBAR .arrow {
  height: 7px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 7px;
}
